/* 12-column Grid (thanks for Fluid 960 Grid System) */

.grid-1-12 {width: 5.333% !important;}
.grid-2-12 {width: 13.666% !important;}
.grid-3-12 {width: 22% !important;}
.grid-4-12 {width: 30.333% !important;}
.grid-5-12 {width: 38.666% !important;}
.grid-6-12 {width: 47% !important;}
.grid-7-12 {width: 55.333% !important;}
.grid-8-12 {width: 63.666% !important;}
.grid-9-12 {width: 65.6% !important;}
.grid-10-12 {width: 72% !important;}
.grid-11-12 {width: 80.333% !important;}
.grid-12-12 {width: 88.666% !important;}
.grid-13-12 {width: 97% !important;}
.grid-14-12 {width: 78% !important;}

.form
{
	margin:0;
	padding:0;	
	font: 12px;
}

/* form elements  */

.form label
{
	color:#676767;
	font-size:12px;
	vertical-align:middle;
	
	height: auto;
	margin: 0.2em 0.8em 0.5em 0;
}

.form input[type="text"], .form input[type="password"], .form input[type="file"], .form textarea, .form select
{
	background: #ffffff;
	color:#999;
	font-size:12px;
	font-family:inherit;
	vertical-align: middle;
	line-height: 1.1em;
	width:100%;
	padding:5px;
	border:1px solid #cfcfcf;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.form textarea
{
	height: 10em;
}

.form select
{
	border-color:#cfcfcf;
	background: #fafafa;
	color:#999;
	/* gradient */
	background: -moz-linear-gradient(top, #ffffff 40%, #f4f4f4);
	background: -webkit-linear-gradient(top, #ffffff 40%, #f4f4f4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4');
}

.form .form input[type="text"]:hover, .form input[type="password"]:hover, .form input[type="file"]:hover, .form textarea:hover, .form select:hover
{
	color:#666;
	background: #fff none;
	border:1px solid #d8d8d8;
}

.form .form input[type="text"]:focus, .form input[type="password"]:focus, .form input[type="file"]:focus, .form textarea:focus, .form select:focus
{
	color:#333;
	background: #fff none;
	border:1px solid #d8d8d8;
	outline: 0;
}

input[type="radio"] {border:0px; background:none; width:10px;}

/* form elements  */

/* form button  */

.form-button, .form input[type="submit"], .form input[type="button"], .form input[type="reset"]
{
	padding:5px 10px 5px;
	cursor: pointer;
	text-align: center;
	display:inline-block;
	line-height:16px;
	margin:0 12px 0 0;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#fff;
	background:#535353;
	border:1px solid #FFFFFF;
	-webkit-border-radius:4px;
	border-radius:4px;
}

* + html .form input[type="submit"]
{
	padding:4px 15px 4px;
	cursor: pointer;
	text-align: center;
	display:inline-block;
	margin:0;
}

.form-button:hover, .form input[type="submit"]:hover, .form input[type="button"]:hover, .form input[type="reset"]:hover {
  /* gradient */
  background: -moz-linear-gradient(top, #155b7f 40%, #0e4665);
  background: -webkit-linear-gradient(top, #155b7f 40%, #0e4665);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#155b7f', endColorstr='#0e4665');
  color:#fff;
  border:1px solid #0f4867;
}

/* form button  */

/* form msg status  */

.form-msg-info, .form-msg-warning, .form-msg-error, .form-msg-success {
	padding:20px 20px 15px 38px;
	border: 1px solid #ccc;
	display: block;
	height: auto;
	margin: 0 1.5% 0.8em;
	clear:both;
	color:#2b2b2b;
}
.form-msg-info li, .form-msg-warning li, .form-msg-error li, .form-msg-success li {
	list-style: none;
	padding:0;	
	margin-bottom: .4%;
	font-size:1.4em;
	line-height:1.1em;
	vertical-align: top;
}

.form-msg-info {
	background: #d1ecf7 url(../images/form-ic-info.png) no-repeat 12px 23px;
	border-color:#bcdfef;
}
.form-msg-warning {
	background: #fff6bf url(../images/form-ic-warning.png) no-repeat 12px 23px;
	border-color:#fceb77;
}
.form-msg-error {
	background: #fad0d0 url(../images/form-ic-error.png) no-repeat 12px 23px;
	border-color:#f6abab;
}
.form-msg-success {
	background: #e5f8ce url(../images/form-ic-success.png) no-repeat 12px 23px;
	border-color:#d0f1a6;
}

.formee-msg-success a{color:#62b548;}
.formee-msg-info a {color:#11689e;}
.formee-msg-warning a {color:#957210;}
.formee-msg-error a {color:#b01717;}

/* form msg status  */

/* form validation */

.error
{
	border-color: #f00 !important;
	color:#F00;
}

.reqfield
{
	margin:0;
	padding:0;
	color:#F00;	
}

.myCls
{
	background:#EAF7D9;
	color:#555555;
	border:1px solid #BBDF8D;
	padding:10px;
	margin:0 10px 0 0;
}

.myWarningCls
{
	background:#FFF1F1;
	color:#555555;
	border:1px solid #F8ACAC;
	padding:10px;
	margin:0 10px 0 0;
}

.red
{
	margin:0;
	padding:0;
	color:#ec1d1d;	
}


